  <div class='black'>
    <h1> {{ title }} </h1>
  </div>
  <div class='ash'>
    <h2>{{ name }}</h2>
    <h2>{{ email }}</h2>
    <button (click) = "toggleHobbies()" class="btn">Mostrar Hobbies</button>
    <div *ngIf="showHobbies" class="component2">
      <h3>hobbies:</h3>
      <ul>
        <li *ngFor = "let hobby of hobbies"> 
          <app-hobby [nameHobby]="hobby"></app-hobby>
        </li>
      </ul>
    </div>
    <form (submit)="newHobby(hobby)">
      <input #hobby type='text' placeholder="hobby">
    </form>
    <a href = "{{ webpage }}" target="_blank">Visita nuestro sitio web</a>
    <app-hello-world>Aqui</app-hello-world>
  </div>
